# .NET Core and .NET 5/6/7/8
bin/
obj/
*.log
*.dmg
*.pdb
*.suo
*.user
*.userosscache
*.sln.docstates

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Rider
.idea/

# Visual Studio
.vscode/
.vs/
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Linux
*~
